<nav role="navigation" aria-label="Sélection de todolist ouverte" class="flex-shrink-0 p-3 sidebar-div" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-active" aria-expanded="true">
                    Mes projets
                </button>
                <button class="btn btn-sm btn-sidebar-add" type="button" title="Création d'une todolist">
                    <span class="mdi mdi-18px mdi-plus"></span>
                </button>
            </div>
            <div class="collapse show" id="category-active">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for cat in categories|filter(cat => cat.category.ownerId == user.id) %}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}" id="CategorieTest{{ cat.category.id }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-archive="false" data-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-active" aria-expanded="true">
                    Projets partagés
                </button>
            </div>
            <div class="collapse show" id="category-active">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for cat in categories|filter(cat => cat.category.ownerId != user.id)%}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}" id="CategorieTest{{ cat.category.id }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-archive="false" data-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" aria-label="Ouvre une liste d'actions pour une catégorie"
                                {% if (canEdit) and (category.category.archived) %}
                                    data-bs-popover="category-archive-popover">
                                {% elseif (canEdit) %}
                                    data-bs-popover="category-popover">
                                {% else %}
                                    data-bs-popover="category-shared-readonly-popover">
                                {% endif %}
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-archive" aria-expanded="true">
                    Mes projets archivés
                </button>
            </div>
            <div class="collapse show" id="category-archive">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                    {% for cat in archivedCategories %}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}"  id="CategorieTest{{ cat.category.id }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-archive="true" data-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-popover" aria-label="Ouvre une liste d'actions pour une catégorie">
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</nav>