<nav role="navigation" aria-label="{{ 'SidebarAriaLabel'|trans|raw }}" class="flex-shrink-0 p-3 sidebar-div" style="width: 280px;">
    <ul class="list-unstyled ps-0">
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-default" aria-expanded="true">
                    {% trans %}SidebarMyProjectsName{% endtrans %}
                </button>
                <button class="btn btn-sm btn-sidebar-add" type="button" onclick="newCategory()" title="{{ 'SidebarNewTodolistButton'|trans|raw }}">
                    <span class="mdi mdi-18px mdi-plus"></span>
                </button>
            </div>
            <div class="collapse show" id="category-default">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for cat in categories|filter(cat => cat.category.ownerId == user.id) %}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-sidebar-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-default-popover" aria-label="{{ 'CategoryPopoverAriaLabel'|trans|raw }}">
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-shared" aria-expanded="true">
                    {% trans %}SidebarSharedProjectsName{% endtrans %}
                </button>
            </div>
            <div class="collapse show" id="category-shared">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for cat in categories|filter(cat => cat.category.ownerId != user.id)%}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-sidebar-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" aria-label="{{ 'CategoryPopoverAriaLabel'|trans|raw }}"
                                {% if (canEdit) and (category.category.archived) %}
                                    data-bs-popover="category-shared-archive-popover">
                                {% elseif (canEdit) %}
                                    data-bs-popover="category-shared-popover">
                                {% else %}
                                    data-bs-popover="category-readonly-popover">
                                {% endif %}
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-3">
            <div class="sidebar-list-header">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#category-archive" aria-expanded="true">
                    {% trans %}SidebarArchivedProjectsName{% endtrans %}
                </button>
            </div>
            <div class="collapse show" id="category-archive">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for cat in archivedCategories %}
                        <li class="sidebar-li rounded {{ cat.category.id == category.categoryId ? 'active' : '' }}">
                            <a href="{{ url_for('dashboard', {'id':cat.category.id}) }}" class="d-inline-flex text-decoration-none rounded sidebar-li-name">{{ cat.category.name }}</a>
                            <a data-sidebar-id="{{ cat.category.id }}" tabindex="0" class="btn btn-todolist-actions" role="button" data-bs="popover" data-bs-popover="category-default-archive-popover" aria-label="{{ 'CategoryPopoverAriaLabel'|trans|raw }}">
                                <span class="mdi mdi-dots-horizontal"></span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>
</nav>