<li class="list-group-item task-view">
    <div class="form-check task-view-details">
        <input class="form-check-input task-checkbox" type="checkbox" value="" title="{{ 'TaskCheckboxTitle'|trans|raw }}" {{ task.checked ? 'checked' : '' }} disabled>
        <div class="task-view-info" id="taskViewInfo-{{ task.categoryId }}-{{ task.id }}" data-bs-toggle="modal" data-bs-target="#taskModal-{{ task.categoryId }}-{{ task.id }}">
            <label class="form-check-label" title="{{ 'TaskNameTitle'|trans|raw }}">
                {{ task.name }}
            </label>
            <small class="form-text text-muted assigned-member" title="{{ 'TaskAssignedTitle'|trans|raw }}">{{ task.assigned.name }}</small>
            <small class="form-text text-muted" title="{{ 'TaskDescriptionTitle'|trans|raw }}">{{ task.description }}</small>
        </div>
    </div>
    <button class="btn btn-sm btn-task-actions" type="button" title="{{ 'TaskDeleteTitle'|trans|raw }}">
        <span class="mdi mdi-18px mdi-trash-can"></span>
    </button>
</li>