<div class="accordion accordion-flush categories">
    <div class="category-title">
        <h3 id="title" onclick="openEditModalCategory({{ category.category.id }})">{{ category.category.name }}</h3>
        <div class="title-actions" id="CategoryActive{{ category.category.id }}">
            <a data-archive="falseActive" data-id="{{ category.category.id }}" tabindex="0" class="btn btn-category-actions" role="button" data-bs="popover" aria-label="{{ 'CategoryPopoverAriaLabel'|trans|raw }}"
                {% if (canEdit) and (category.category.archived) %}
                data-archive="true" data-bs-popover="category-popover">
                {% elseif (canEdit) %}
                    data-archive="false" data-bs-popover="category-popover">
                {% else %}
                    data-archive="false" data-bs-popover="category-shared-readonly-popover">
                {% endif %}
                <span class="mdi mdi-24px mdi-dots-horizontal"></span>
            </a>
        </div>
    </div>

    <div id="research" class="research" hidden>
        <p class="mb-4 form-text text-muted">{% trans %}CategorySearchResult{% endtrans %}</p>
        <ul class="list-group list-group-flush tasks list-research"></ul>
    </div>

    <div id="default-category-content" data-sortable="categories">
        <div id="sub-category">
        </div>
        {% for subCategory in category.category.subCategories %}
            {% if subCategory.archived %}
                {% include 'pages/components/sub-category/archive.twig' with { 'subCategory' : subCategory, 'tasks' : subCategory.tasks } %}
            {% else %}
                {% include 'pages/components/sub-category/content.twig' with { 'subCategory' : subCategory, 'tasks' : subCategory.tasks } %}
            {% endif %}
        {% endfor %}
        <div id="sub-category-archive" class="">
        </div>
    </div>
</div>