<div class="accordion accordion-flush categories">
    <div class="category-title">
        <h3 id="title" onclick="openEditModalCategory({{ category.category.id }})">{{ category.category.name }}</h3>
        <div class="title-actions" id="CategoryActive{{ category.category.id }}">
            <a data-category-id="{{ category.category.id }}" tabindex="0" class="btn btn-category-actions" role="button" data-bs="popover" aria-label="{{ 'CategoryPopoverAriaLabel'|trans|raw }}"
                {% if (category.category.ownerId == user.id) and (category.category.archived) %}
                    data-bs-popover="category-default-archive-popover">
                {% elseif (category.category.ownerId == user.id) %}
                    data-bs-popover="category-default-popover">
                {% elseif (canEdit) and (category.category.archived) %}
                    data-bs-popover="category-shared-archive-popover">
                {% elseif (canEdit) %}
                    data-bs-popover="category-shared-popover">
                {% else %}
                    data-bs-popover="category-readonly-popover">
                {% endif %}
                <span class="mdi mdi-24px mdi-dots-horizontal"></span>
            </a>
        </div>
    </div>

    <div id="research" class="research" hidden>
        <p class="mb-4 form-text text-muted">{% trans %}CategorySearchResult{% endtrans %}</p>
        <ul class="list-group list-group-flush tasks list-research"></ul>
    </div>

    <div id="default-category-content" data-sortable="categories">
        {% for subCategory in category.category.subCategories %}
            {% include 'pages/components/sub-category/content.twig' with { 'subCategory' : subCategory, 'tasks' : subCategory.tasks } %}
        {% endfor %}
        {% if (canEdit and category.category.archived == false) %}
            {% include 'pages/components/category/new.twig' with { 'catId' : category.category.id } %}
        {% endif %}
    </div>
</div>