<div class="accordion accordion-flush">
    {% for catId in 0..2 %}
        <div class="accordion-item accordion-item-task">
            <h2 class="accordion-header" id="panelsStayOpen-heading-{{ catId }}">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ catId }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{ catId }}">
                    Catégorie #{{ catId }}
                </button>
            </h2>
            <div id="panelsStayOpen-collapse-{{ catId }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ catId }}">
                <div class="accordion-body">
                    <ul class="list-group list-group-flush tasks">
                        {% for taskId in 0..5 %}
                            {% include 'tasks/task.twig' with { 'catId' : catId, 'taskId': taskId } %}
                        {% endfor %}
                    </ul>
                    {% include 'tasks/task-new.twig' with { 'catId' : catId } %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Latest Sortable -->
<script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>

<script type="text/javascript">
    const els = document.getElementsByClassName("tasks");
    Array.prototype.forEach.call(els, function(el) {
        new Sortable(el, {
            group: 'shared',
            animation: 300,
            ghostClass: "task-drag-ghost",  // Class name for the drop placeholder
            chosenClass: "task-drag-chosen",  // Class name for the chosen item
            dragClass: "task-drag-dragging",  // Class name for the dragging item
            handle: ".btn-task-drag",
            forceFallback: true,
            onChoose: function (e) {
                e.target.classList.add('grabbing');
            },
            onUnchoose: function (e) {
                e.target.classList.remove('grabbing');
            },
            onStart: function (e) {
                e.target.classList.add('grabbing');
            },
            onEnd: function (e) {
                e.target.classList.remove('grabbing');
            },
            onMove: function (e) {
                e.target.classList.add('grabbing');
            },
        })
    });
</script>