<div class="container d-flex flex-column align-items-center mt-5 p-4">
    <h1 class="text-center mb-4">{% trans %}FormSignInTitle{% endtrans %}</h1>
    <form action="{{ url_for('account.register') }}" method="POST" id="form_register" class="form-account" >
        {{ csrf.html | raw }}
        <div class="mb-3">
            <label for="email" class="form-label">{% trans %}FormEmail{% endtrans %}</label>
            <input type="email" id="email" name="email" class="form-control bg-secondary" value="{{ val('email') }}">
            <div id="validation-email" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="pseudo" class="form-label">{% trans %}FormPseudo{% endtrans %}</label>
            <input type="text" id="pseudo" name="pseudo" aria-describedby="validationPseudo"
                   class="form-control bg-secondary" value="{{ val('pseudo') }}">
            <div id="validation-pseudo" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">{% trans %}FormPwd{% endtrans %}</label>
            <input type="password" id="password" name="password" aria-describedby="validationPassword"
                   class="form-control bg-secondary">
            <div id="validation-password" class="invalid-feedback"></div>
        </div>
        <div class="mb-3">
            <label for="confirmationPassword" class="form-label">{% trans %}FormConfPwd{% endtrans %}</label>
            <input type="password" id="password-conf" name="password-conf" aria-describedby="validationPasswordConf"
                   class="form-control bg-secondary">
            <div id="validation-password-conf" class="invalid-feedback"></div>
        </div>
        <div class="mb-3 form-check d-flex justify-content-center">
            <input type="checkbox" class="form-check-input bg-secondary me-2" id="condition">
            <label class="form-check-label" for="condition">{% trans %}FormCGV{% endtrans %}</label>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary btn-account">{% trans %}FormSubmit{% endtrans %}</button>
        </div>

    </form>
</div>

<script>
    const listTranslations = [`{{ 'RegexEmpty'|trans|raw }}`,`{{ 'RegexEmail'|trans|raw }}`,`{{ 'RegexPass'|trans|raw }}`,
        `{{ 'RegexPassConf'|trans|raw }}`];

    function setInvalid(element)
    {
        let input = $('#'+element)
        if(input == null) return

        input.addClass("is-invalid");
    }

    function displayError(div,index,size) {
        $('#validation-'+div).html(listTranslations[index] + size);
        setInvalid(div);
    }

    $(document).ready(() => {
        {% if has_error('email') %}displayError('email',1,"254");{% endif %}
        {% if has_error('pseudo') %}displayError('pseudo',0,"64");{% endif %}
        {% if has_error('password') %}displayError('password',2,"128");{% endif %}
        {% if has_error('password-conf') %}displayError('password-conf',3,"");{% endif %}
    })
</script>