<nav class="navbar navbar-expand-lg bg-primary fixed-top">
    <div class="container-fluid">
        <a class="nav-link active d-flex me-1 ms-5" href="{{ basePath }}/home">
            <img src="{{ basePath }}/assets/img/appImg.jpg" alt="Logo" class="d-inline-block align-text-top rounded-circle logo">
            <p class="appName">{% trans %}AppName{% endtrans %}</p>
        </a>
        {% if (content == 'login') %}
            <a class="nav-link active d-flex me-2" href="{{ basePath }}/account/register">
                <button class="btn me-2 btn-abs-nav" type="button">{% trans %}SignIn{% endtrans %}</button>
            </a>
        {% elseif (content == 'signin') %}
            <a class="nav-link active d-flex me-2" href="{{ basePath }}/account/login">
                <button class="btn me-2 btn-abs-nav" type="button">{% trans %}HomeLogin{% endtrans %}</button>
            </a>
        {% else %}
            <button class="navbar-toggler me-5" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav ul-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ basePath }}/account/login">
                            <button class="btn me-1 btn-abs-nav" type="button">{% trans %}HomeLogin{% endtrans %}</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ basePath }}/account/register">
                            <button class="btn me-1 btn-abs-nav btn-abs-nav-g" type="button">{% trans %}HomeSignIn{% endtrans %}</button>
                        </a>
                    </li>
                </ul>
            <div
        {% endif %}
    </div>
</nav>