<div class="accordion-item accordion-item-tasks subcategory-archive">
    <h2 class="accordion-header subcategory-header" id="panelsStayOpen-heading-{{ catId }}">
        <div class="category-button">
            <div class="accordion-button btn-subcategory-drag">
                <button class="btn btn-category-actions" type="button" title="Attrape la sous-catégorie pour la changer d'emplacement">
                    <span class="mdi mdi-24px mdi-drag"></span>
                </button>
            </div>
        </div>
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse-{{ catId }}" aria-expanded="true" aria-controls="panelsStayOpen-collapse-{{ catId }}">
            Sous-catégorie #{{ catId }}
        </button>
        <div class="category-button">
            <div class="accordion-button">
                <a tabindex="0" class="btn btn-category-actions" role="button" data-bs-popover="subcategory-archive-popover" aria-label="Liste d'actions d'une sous-catégorie archivée dans une todolist">
                    <span class="mdi mdi-24px mdi-dots-horizontal"></span>
                </a>
            </div>
        </div>
    </h2>
    <div id="panelsStayOpen-collapse-{{ catId }}" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading-{{ catId }}">
        <div class="accordion-body">
            <ul class="list-group list-group-flush">
                {% for taskId in 0..5 %}
                    {% include 'pages/components/task/archive.twig' with { 'catId' : catId, 'taskId': taskId } %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>